@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root { 
  font-family: 'Outfit', sans-serif;
  background-color: #0d1a2d;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
  background-color: hsl(217, 54%, 11%);
  display: grid;
  justify-content: center;
  align-items: center;
}

.nft-card { 
  height: 570px;
  width: 350px;
  border-radius: 13px;
  background-color:  hsl(212.86 51.22% 16.08%);
  padding: 25px;
}

.nft-image { 
  background-image: url(./assets/images/icon-view.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.nft-image img:hover { 
  opacity: 0.5;
  cursor: pointer;
}

 .nft-image img { 
  height: 300px;
  width: 300px;
  border-radius: 8px;
  transition: 0.3s ease;
  margin-bottom: 1rem;
}

.nft-title { 
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  transition: 0.15s ease;
}
.nft-description { 
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  margin-bottom: 23px;
}
.nft-title:hover { 
  color: #00BCD4;
  cursor: pointer;
}

.nft-details { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  color: #4e6380;
  border-bottom: 1px solid hsl(215, 32%, 27%);  
  padding-bottom: 25px;
}
.nft-eth { 
  display: flex;
  gap: 5px;
}
.nft-details .nft-price { 
  color: #00BCD4;
}
.nft-time { 
  display: flex;
  gap: 5px;
}

.nft-author { 
  height: 60px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}
.author-avatar { 
  display: grid;
  text-align: center;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.author-details { 
  color: #4e6380;
}
.author-details span:hover { 
  color: #00BCD4;
  cursor: pointer;
}

.attribution {
  margin: -40px 0px;
  font-size: 14px;
  color: #4e6380;
  text-align: center;
}
.attribution a {
  color: #00BCD4;
}

@media screen and (max-width: 375px) {
  /* .container {
    height: 100vh;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    display: grid;
    justify-content: center;
    align-items: center;
  } */
  .attribution { 
    display: none;
  }
}